<div class="sidebar">
	<div class="sidebar__item">
		<h4>Department</h4>
		<ul>
			<li><a href="#">Fresh Meat</a></li>
			<li><a href="#">Vegetables</a></li>
			<li><a href="#">Fruit & Nut Gifts</a></li>
			<li><a href="#">Fresh Berries</a></li>
			<li><a href="#">Ocean Foods</a></li>
			<li><a href="#">Butter & Eggs</a></li>
			<li><a href="#">Fastfood</a></li>
			<li><a href="#">Fresh Onion</a></li>
			<li><a href="#">Papayaya & Crisps</a></li>
			<li><a href="#">Oatmeal</a></li>
		</ul>
	</div>
	<div class="sidebar__item">
		<h4>Price</h4>
		<div class="price-range-wrap">
			<mv-slider [(value)]="value" [min]="minValue" [max]="maxValue" [tooltip]="'hide'" [range]="true"></mv-slider>
			<div class="range-slider">
				<div class="price-input">
					<input type="text" id="minamount" [value]="'$' + value[0]">
					<input type="text" id="maxamount" [value]="'$' + value[1]">
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar__item sidebar__item__color--option">
		<h4>Colors</h4>
		<div class="sidebar__item__color sidebar__item__color--white">
			<label for="white">
				White
				<input type="radio" id="white">
			</label>
		</div>
		<div class="sidebar__item__color sidebar__item__color--gray">
			<label for="gray">
				Gray
				<input type="radio" id="gray">
			</label>
		</div>
		<div class="sidebar__item__color sidebar__item__color--red">
			<label for="red">
				Red
				<input type="radio" id="red">
			</label>
		</div>
		<div class="sidebar__item__color sidebar__item__color--black">
			<label for="black">
				Black
				<input type="radio" id="black">
			</label>
		</div>
		<div class="sidebar__item__color sidebar__item__color--blue">
			<label for="blue">
				Blue
				<input type="radio" id="blue">
			</label>
		</div>
		<div class="sidebar__item__color sidebar__item__color--green">
			<label for="green">
				Green
				<input type="radio" id="green">
			</label>
		</div>
	</div>
	<div class="sidebar__item">
		<h4>Popular Size</h4>
		<div class="sidebar__item__size">
			<label for="large">
				Large
				<input type="radio" id="large">
			</label>
		</div>
		<div class="sidebar__item__size">
			<label for="medium">
				Medium
				<input type="radio" id="medium">
			</label>
		</div>
		<div class="sidebar__item__size">
			<label for="small">
				Small
				<input type="radio" id="small">
			</label>
		</div>
		<div class="sidebar__item__size">
			<label for="tiny">
				Tiny
				<input type="radio" id="tiny">
			</label>
		</div>
	</div>
	<div class="sidebar__item">
		<app-latest-product [title]="latestProductsTitle" [width]="'262.5'" [maxWidth]="'1575'"></app-latest-product>
	</div>
</div>