.footer {
	padding-top: 70px;
	padding-bottom: 0;
	background: #F3F6FA;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	line-height: 36px;
	list-style: none;
	font-size: 16px;
	color: #1c1c1c;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h6 {
	margin-bottom: 10px;
	font-weight: 700;
	color: #1c1c1c;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	line-height: 32px;
	font-size: 14px;
	color: #1c1c1c;
}

.footer__widget p {
	margin-bottom: 30px;
	font-size: 14px;
	color: #1c1c1c;
}

.footer__widget form {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget form input {
	width: 100%;
	height: 46px;
	padding-left: 20px;
	border: 1px solid #ededed;
	font-size: 16px;
	color: #1c1c1c;
}
.footer__widget form input::placeholder {
	color: #1c1c1c;
}

.footer__widget form button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget .footer__widget__social a {
	width: 41px;
	height: 41px;
	margin-right: 10px;
	display: inline-block;
	border: 1px solid #ededed;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	background: #ffffff;
	color: #404040;
	transition: all, 0.3s;
}
.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}
.footer__widget .footer__widget__social a:hover {
	background: #7fad39;
	color: #ffffff;
	border-color: #ffffff;
}

.footer__copyright {
	margin-top: 20px;
	padding: 15px 0;
	border-top: 1px solid #ebebeb;
	overflow: hidden;
}

.footer__copyright__text {
	float: left;
	line-height: 25px;
	font-size: 14px;
	color: #1c1c1c;
}

.footer__copyright__payment {
	float: right;
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
	.footer__copyright {
		text-align: center;
	}

	.footer__copyright__text {
		margin-bottom: 25px;
		float: none;
	}

	.footer__copyright__payment {
		float: none;
	}
}