.humberger__menu__wrapper {
	display: none;
}

.header__top__right__language {
	position: relative;
	margin-right: 40px;
	display: inline-block;
	cursor: pointer;
}

.header__top__right__language:hover ul {
	top: 23px;
	opacity: 1;
	visibility: visible;
}

.header__top__right__language:after {
	position: absolute;
	top: 1px;
	right: -21px;
	width: 1px;
	height: 20px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__language img {
	margin-right: 6px;
}

.header__top__right__language div {
	margin-right: 4px;
	display: inline-block;
	font-size: 14px;
	color: #1c1c1c;
}

.header__top__right__language span {
	position: relative;
	top: 2px;
	font-size: 14px;
	color: #1c1c1c;
}

.header__top__right__language ul {
	position: absolute;
	top: 43px;
	left: 0;
	width: 100px;
	padding: 5px 0;
	text-align: left;
	background: #222222;
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	transition: all, 0.3s;
}

.header__top__right__language ul li {
	list-style: none;
}

.header__top__right__language ul li a {
	padding: 5px 10px;
	font-size: 14px;
	color: #ffffff;
}

.header__top__right__auth {
	display: inline-block;
}

.header__top__right__auth a {
	display: block;
	font-size: 14px;
	color: #1c1c1c;
}

.header__top__right__auth a i {
	margin-right: 6px;
}

.header__top__right__social {
	position: relative;
	margin-right: 35px;
	display: inline-block;
}

.header__top__right__social a {
	margin-right: 20px;
	display: inline-block;
	font-size: 14px;
	color: #1c1c1c;
}
.header__top__right__social a:last-child {
	margin-right: 0;
}

/* Tablet Device = 768px */
/* Wide Mobile = 480px */
@media only screen and (max-width: 991px) {
	.humberger__menu__wrapper {
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		height: 100%;
		padding: 50px 30px 30px 30px;
		display: block;
		background: #ffffff;
		overflow-y: auto;
		opacity: 0;
		z-index: 99;
		transition: all, 0.6s;
	}
	.humberger__menu__wrapper.show__humberger__menu__wrapper {
		left: 0;
		opacity: 1;
	}

	.humberger__menu__logo {
		margin-bottom: 30px;
	}

	.humberger__menu__logo a {
		display: inline-block;
	}

	.humberger__menu__contact {
		padding: 10px 0 13px;
	}

	.humberger__menu__contact ul li {
		position: relative;
		line-height: 30px;
		list-style: none;
		font-size: 14px;
		color: #1c1c1c;
	}

	.humberger__menu__contact ul li i {
		margin-right: 5px;
		color: #252525;
	}

	.humberger__menu__cart ul {
		margin-right: 25px;
		display: inline-block;
	}

	.humberger__menu__cart ul li {
		margin-right: 15px;
		display: inline-block;
		list-style: none;
	}
	.humberger__menu__cart ul li:last-child {
		margin-right: 0;
	}

	.humberger__menu__cart ul li a {
		position: relative;
	}

	.humberger__menu__cart ul li a i {
		font-size: 18px;
		color: #1c1c1c;
	}

	.humberger__menu__cart ul li a span {
		position: absolute;
		top: 0;
		right: -12px;
		width: 13px;
		height: 13px;
		display: inline-block;
		border-radius: 50%;
		line-height: 13px;
		text-align: center;
		font-size: 10px;
		font-weight: 700;
		background: #7fad39;
		color: #ffffff;
	}

	.humberger__menu__cart .header__cart__price {
		display: inline-block;
		font-size: 14px;
		color: #6f6f6f;
	}

	.humberger__menu__cart .header__cart__price span {
		font-weight: 700;
		color: #252525;
	}

	.humberger__menu__cart {
		margin-bottom: 25px;
	}

	.humberger__menu__widget {
		margin-bottom: 20px;
	}

	.humberger__menu__widget .header__top__right__language {
		margin-right: 20px;
	}

	.humberger__menu__wrapper .header__top__right__social {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.humberger__menu__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		visibility: hidden;
		content: "";
		z-index: 98;
		transition: all, 0.6s;
	}
	.humberger__menu__overlay.active {
		visibility: visible;
	}
}