.filter__item {
	padding-top: 45px;
	padding-bottom: 20px;
	border-top: 1px solid #ebebeb;
}

.filter__sort {
	margin-bottom: 15px;
}

.filter__sort span {
	display: inline-block;
	font-size: 16px;
	color: #6f6f6f;
}

.filter__sort .nice-select {
	height: 0;
	padding-left: 18px;
	padding-right: 30px;
	float: none;
	display: inline-block;
	border: none;
	border-radius: 0;
	line-height: 0;
	font-weight: 700;
	font-size: 16px;
	background-color: #fff;
	color: #1c1c1c;
	cursor: pointer;
}
.filter__sort .nice-select:after {
	top: -5px;
	right: 16px;
	width: 8px;
	height: 8px;
	margin-top: 0;
	border-bottom: 1.5px solid #1c1c1c;
	border-right: 1.5px solid #1c1c1c;
}

.filter__sort .nice-select span {
	color: #1c1c1c;
}

.filter__sort .nice-select .list {
	top: 15px;
	margin-top: 0;
	border-radius: 0;
}
.filter__sort .nice-select.open .list {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1) translateY(0);
}

.filter__sort .nice-select .option {
	min-height: 30px;
	line-height: 30px;
}

.filter__found {
	margin-bottom: 15px;
	text-align: center;
}

.filter__found h6 {
	font-size: 16px;
	color: #b2b2b2;
}

.filter__found h6 span {
	margin-right: 5px;
	font-weight: 700;
	color: #1c1c1c;
}

.filter__option {
	margin-bottom: 15px;
	text-align: right;
}

.filter__option span {
	margin-right: 10px;
	font-size: 24px;
	color: #b2b2b2;
	cursor: pointer;
	transition: all, 0.3s;
}
.filter__option span:last-child {
	margin: 0;
}
.filter__option span:hover {
	color: #7fad39;
}

.product__item {
	margin-bottom: 50px;
}

.product__item__pic {
	position: relative;
	height: 270px;
	overflow: hidden;
}

.product__item__pic__hover {
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 100%;
	text-align: center;
	transition: all, 0.5s;
}
.product__item:hover .product__item__pic .product__item__pic__hover {
	bottom: 20px;
}

.product__item__pic__hover li {
	margin-right: 6px;
	display: inline-block;
	list-style: none;
}
.product__item__pic__hover li:last-child {
	margin-right: 0;
}

.product__item__pic__hover li a {
	width: 40px;
	height: 40px;
	display: block;
	border: 1px solid #ebebeb;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	background: #ffffff;
	color: #1c1c1c;
	transition: all, 0.5s;
}
.product__item__pic__hover li:hover a {
	border-color: #7fad39;
	background: #7fad39;
}

.product__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	transition: all, 0.3s;
}
.product__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.product__item__text {
	padding-top: 15px;
	text-align: center;
}

.product__item__text h6 {
	margin-bottom: 10px;
}

.product__item__text h6 a {
	color: #252525;
}

.product__item__text h5 {
	font-weight: 700;
	color: #252525;
}

.product__pagination {
	padding-top: 10px;
}

.product__pagination a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	color: #b2b2b2;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	margin-right: 16px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__pagination a:hover {
	background: #7fad39;
	border-color: #7fad39;
	color: #ffffff;
}

.product__pagination a:last-child {
	margin-right: 0;
}

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.filter__sort .nice-select {
		padding-left: 5px;
		padding-right: 28px;
	}
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
	.filter__item {
		text-align: center;
	}

	.filter__option {
		text-align: center;
	}
}