.latest-product {
	padding-top: 80px;
	padding-bottom: 0;
}

.latest-product__text h4 {
	margin-bottom: 45px;
	font-weight: 700;
	color: #1c1c1c;
}

.latest-product__slider.owl-carousel .owl-nav {
	position: absolute;
	top: -75px;
	right: 20px;
}

.latest-product__slider.owl-carousel .owl-nav button {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border: 1px solid #e6e6e6;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	background: #F3F6FA;
	color: #636363;
}
.latest-product__slider.owl-carousel .owl-nav button:last-child {
	margin-right: 0;
}

.latest-product__slider.owl-carousel .owl-nav button span {
	font-weight: 700;
}

.latest-product__item {
	margin-bottom: 20px;
	display: block;
	overflow: hidden;
}

.latest-product__item__pic {
	margin-right: 26px;
	float: left;
}

.latest-product__item__pic img {
	width: 110px;
	height: 110px;
}

.latest-product__item__text {
	padding-top: 10px;
	overflow: hidden;
}

.latest-product__item__text h6 {
	margin-bottom: 8px;
	color: #252525;
}

.latest-product__item__text span {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: #252525;
}

/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.latest-product__slider.owl-carousel .owl-nav {
		right: 0;
	}
}