.slicknav_menu {
	margin-bottom: 30px;
	font-size: 16px;
	*zoom: 1;
}
.slicknav_menu:after,
.slicknav_menu:before {
	display: table;
	content: " ";
}
.slicknav_menu:after {
	clear: both;
}

.slicknav_nav {
	margin: 0;
	padding: 0;
	display: block !important;
	list-style: none;
	font-size: .875em;
	color: #fff;
	overflow: hidden;
	clear: both;
}

.slicknav_nav ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	overflow: hidden;
}

.slicknav_nav li {
	display: block;
}

.slicknav_nav a {
	padding: 8px 0;
	display: block;
	border-bottom: 1px solid #e1e1e1;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #1c1c1c;
}
.slicknav_nav a:hover {
	background: transparent;
	color: #7fad39;
	border-radius: 0;
}

.slicknav_nav .slicknav_arrow {
	margin: 0 0 0 .4em;
	font-size: .8em;
}

.slicknav_nav .slicknav_item {
	cursor: pointer;
}

.slicknav_nav .slicknav_item a {
	margin: 0;
	padding: 0;
	display: inline;
	border-bottom: none !important;
}

.slicknav_nav .pagesmenu {
	transition: height ease-in-out 0.2s;
}

/* Tablet Device = 768px */
/* Wide Mobile = 480px */
@media only screen and (max-width: 991px) {
	.slicknav_menu {
		margin-bottom: 30px;
		padding: 0;
		background: transparent;
	}

	.slicknav_nav {
		display: block !important;
	}

	.slicknav_nav .slicknav_item a {
		border-bottom: none !important;
	}

	.slicknav_nav ul {
		margin: 0;
	}

	.slicknav_nav a {
		margin: 0;
		border-bottom: 1px solid #e1e1e1;
		font-size: 16px;
		font-weight: 600;
		color: #1c1c1c;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #7fad39;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 0;
	}
}