<div class="shoping__cart__table">
	<table>
		<thead>
			<tr>
				<th class="shoping__product">Products</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="shoping__cart__item">
					<img src="assets/img/cart/cart-1.jpg" alt="">
					<h5>Vegetable’s Package</h5>
				</td>
				<td class="shoping__cart__price">$55.00</td>
				<td class="shoping__cart__quantity">
					<div class="quantity">
						<div class="pro-qty">
							<span class="dec qtybtn" (click)="onQuantityDecreaseClick($event)">-</span>
							<input type="text" value="1">
							<span class="inc qtybtn" (click)="onQuantityIncreaseClick($event)">+</span>
						</div>
					</div>
				</td>
				<td class="shoping__cart__total">$110.00</td>
				<td class="shoping__cart__item__close">
					<span class="icon_close"></span>
				</td>
			</tr>
			<tr>
				<td class="shoping__cart__item">
					<img src="assets/img/cart/cart-2.jpg" alt="">
					<h5>Fresh Garden Vegetable</h5>
				</td>
				<td class="shoping__cart__price">$39.00</td>
				<td class="shoping__cart__quantity">
					<div class="quantity">
						<div class="pro-qty">
							<span class="dec qtybtn" (click)="onQuantityDecreaseClick($event)">-</span>
							<input type="text" value="1">
							<span class="inc qtybtn" (click)="onQuantityIncreaseClick($event)">+</span>
						</div>
					</div>
				</td>
				<td class="shoping__cart__total">$39.99</td>
				<td class="shoping__cart__item__close">
					<span class="icon_close"></span>
				</td>
			</tr>
			<tr>
				<td class="shoping__cart__item">
					<img src="assets/img/cart/cart-3.jpg" alt="">
					<h5>Organic Bananas</h5>
				</td>
				<td class="shoping__cart__price">$69.00</td>
				<td class="shoping__cart__quantity">
					<div class="quantity">
						<div class="pro-qty">
							<span class="dec qtybtn" (click)="onQuantityDecreaseClick($event)">-</span>
							<input type="text" value="1">
							<span class="inc qtybtn" (click)="onQuantityIncreaseClick($event)">+</span>
						</div>
					</div>
				</td>
				<td class="shoping__cart__total">$69.99</td>
				<td class="shoping__cart__item__close">
					<span class="icon_close"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>