.shoping__cart__table {
	margin-bottom: 30px;
}

.shoping__cart__table table {
	width: 100%;
	text-align: center;
}

.shoping__cart__table table thead tr {
	border-bottom: 1px solid #ebebeb;
}

.shoping__cart__table table thead th {
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #1c1c1c;
}
.shoping__cart__table table thead th.shoping__product {
	text-align: left;
}

.shoping__cart__table table tbody tr td {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ebebeb;
}
.shoping__cart__table table tbody tr td.shoping__cart__item {
	width: 630px;
	text-align: left;
}

.shoping__cart__table table tbody tr td.shoping__cart__item img {
	margin-right: 25px;
	display: inline-block;
}

.shoping__cart__table table tbody tr td.shoping__cart__item h5 {
	display: inline-block;
	color: #1c1c1c;
}

.shoping__cart__table table tbody tr td.shoping__cart__price {
	width: 100px;
	font-size: 18px;
	font-weight: 700;
	color: #1c1c1c;
}

.shoping__cart__table table tbody tr td.shoping__cart__total {
	width: 110px;
	font-size: 18px;
	font-weight: 700;
	color: #1c1c1c;
}

.shoping__cart__table table tbody tr td.shoping__cart__item__close {
	text-align: right;
}

.shoping__cart__table table tbody tr td.shoping__cart__item__close span {
	font-size: 24px;
	color: #b2b2b2;
	cursor: pointer;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity {
	width: 225px;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty {
	position: relative;
	width: 120px;
	height: 40px;
	margin-bottom: 5px;
	display: inline-block;
	text-align: center;
	background: #f5f5f5;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input {
	height: 100%;
	width: 50px;
	border: none;
	font-size: 16px;
	text-align: center;
	background: #f5f5f5;
	color: #1c1c1c;
}
.shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input::placeholder {
	color: #1c1c1c;
}

.shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty .qtybtn {
	width: 15px;
	display: inline-block;
	font-size: 16px;
	color: #6f6f6f;
	cursor: pointer;
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
	.shoping__cart__table {
		overflow-y: auto;
	}
}